.grid-p{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.grid-p span {
    background-color: white;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    
}

.box1:nth-child(even) {
    background-color:rgb(21, 19, 14);
    border: 5px ;
}

.box2:nth-child(odd) {
    background-color:rgb(21, 19, 14);
    border: 5px ;
}
body{
    background-color: goldenrod;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

    
